.gallery-bg {
  background-image: url("../assets/gallery.jpeg");
  /* background-color: dimgray; */
  background-size: cover;
}
/* Grid gallery */
.gallery-name {
  font-weight: 700;
  font-style: normal;
  font-size: 60px;
  line-height: 112px;
  color: #ffffff;
}
.grid-gallery {
  display: grid;
  min-height: auto;
  /* gap: 10px; */

  grid-template-areas:
    "top top"
    "center center"
    "bottom bottom";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr 2fr;
}
#top-gallery {
  grid-area: top;
}
#name-gallery {
  grid-area: center;
  text-shadow: 2px 2px 10px #000;
}
#bottom-gallery {
  grid-area: bottom;
}

#grid-pictures {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0;
  padding: 0;
  height: 360px;
}

.gallery-picture {
  width: auto;
  height: auto;
  overflow: hidden;
}
.gallery-picture img {
  width: 100%;
  height: 360px;
  object-fit: cover;
}

#top-gallery,
#name-gallery,
#bottom-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .grid-gallery {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr;
    gap: 0;
  }
  #grid-pictures {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
    margin: 0;
    height: auto;
  }
  #top-gallery {
    grid-area: center;
  }
  #name-gallery {
    grid-area: top;
  }
  #bottom-gallery {
    grid-area: bottom;
  }
}
