main {
  min-height: 100vh;
  background-image: url("../assets/img/main.JPG");
  background-size: cover;
  background-repeat: no-repeat;
}
.main-contain {
  text-align: center;
  color: white;
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("./../assets/Ellipse.png");
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}
.main {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.main-img img {
  display: none;
}
.main-section {
  /* width: 50%; */
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-section h1 {
  margin: 0 5%;
  font-size: 3rem;
  text-shadow: 4px 4px 10px black;
}
.main-section p {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 2% 10%;
  text-shadow: 4px 4px 10px black;
}
.main-section a {
  text-decoration: none;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
  color: #fff;
  background-color: #1c0a00;
  transition: 0.6s;
}
.main-contain a:hover {
  color: #000;
  background-color: white;
  /* padding: 13px 25px; */
  transition: 0.6s;
}

@media (max-width: 768px) {
  .main {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    text-align: center;
  }
  .main-img {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main-img img {
    display: block;
    max-width: 200px;
  }
  .main-contain {
    background-size: cover;
    background-position-x: 100px;
  }
  .main-section {
    width: 100%;
    justify-content: flex-end;
    padding-bottom: 2rem;
  }
  .main-section h1 {
    margin: 0 2%;
    font-size: 2rem;
  }
  .main-section p {
    font-size: 1rem;
    margin: 1% 5% 5%;
  }
}
