.servicios {
  /* background-image: url("../assets/img/main.JPG");
  /* background-size: cover; */
  /* min-height: 100vh; */
  height: auto;
  background-image: url("../assets/carpintero_new.jpeg");
  background-size: cover;
}
.servicios-contain {
  text-shadow: 4px 4px 4px #000;
  height: 100%;
  /* backdrop-filter: blur(2px); */
  /* background-image: url("../assets/servicios.png");
  background-size: cover;
  background-repeat: no-repeat; */
  padding: 2% 5%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.servicios-productos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 0 5%;
}
.servicios-title img {
  width: 100px;
}
.servicios-list {
  font-size: 1.5rem;
  color: white;
}
.servicios-list h2 {
  font-weight: bold;
  font-size: 4rem;
}
.servicios-img {
  display: flex;
  justify-content: space-around;
}

.servicios-img img {
  border-radius: 10px;
  width: 20vw;
  max-height: fit-content;
  box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.4);
}
.servicios-info {
  color: white;
  backdrop-filter: 50px;
}

@media (max-width: 768px) {
  .servicios-list h2 {
    text-align: center;
    font-size: 2rem;
    padding-top: 2rem;
  }
  .servicios-list {
    font-size: 1.5rem;
  }
  .servicios-productos {
    display: block;
  }
  /* .list {
    font-size: 1rem;
  } */
  .servicios-img {
    padding: 2rem 0;
    flex-direction: column;
    gap: 2rem;
  }
  .servicios-img img {
    display: block;
    width: auto;
    height: 100%;
    max-height: 250px;
  }
  .servicios-info {
    font-size: 0.7rem;
  }
}
