.servicios {
  height: auto;
  background-image: url("../assets/carpintero_new.jpeg");
  background-size: cover;
  background-position: center;
}
.servicios-contain {
  text-shadow: 4px 4px 4px #000;
  height: 100%;
  padding: 2% 5%;
}
.servicios-productos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 2% 5%;
}
.servicios-title img {
  width: 100px;
}
.servicios-list {
  font-size: 1.5rem;
  color: white;
}
.servicios-list h2 {
  font-weight: bold;
  font-size: 4rem;
}
.servicios-img {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.servicios-img img {
  border-radius: 10px;
  width: 100%;
  box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.4);
}
.servicios-info {
  color: white;
  backdrop-filter: 50px;
}

@media (max-width: 900px) {
  .servicios-img {
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
  }
  .servicios-img img {
    object-fit: cover;
  }
}
@media (max-width: 768px) {
  .servicios-list h2 {
    text-align: center;
    font-size: 2rem;
    padding-top: 2rem;
  }
  .servicios-list {
    font-size: 1.5rem;
  }
  .servicios-productos {
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .servicios-info {
    font-size: 0.7rem;
  }
}
